body {
    width: 1100px;
    background-color: #7F15EB;
    color: #F6F6F6;
}

body header h1 {
    padding: 10px 100px;
    text-align: center;
}

body section h2 {
    padding: 10px 100px;
    text-align: center;
}

body main img {
    padding: inherit;
    margin: auto;
    width: 200px;
    display: block;
}

body article a {
    background-color: #EB5E46;
    color: #F6F6F6;
}

strong {
    color: #EB5E46;
}

span {
    color: #EB5E46;
}

footer {
    color: #F6F6F6
}