body {
    width: 1100px;
    background-color: #3F2FEA;
    color: #F6F6F6;
}

body header h1 {
    padding: 10px 100px;
    text-align: center;
}

body section h2 {
    padding: 10px 100px;
    text-align: center;
}

body main img {
    padding: inherit;
    margin: auto;
    width: 200px;
    display: block;
}

body article a {
    color: #F6F6F6;
}

strong {
    color: #15EBC1;
}

span {
    color: #15EBC1;
}

article {
    background-color: #158BEB;
    float: left;
    width: 46%;
    margin: 1%;
    padding: 1%;
    height: 200px;
}

footer {
    text-align: center;
    clear: left;
    padding: 25px;
}